[Desktop Entry]
X-DBUS-StartupType=None
X-KDE-StartupNotify=false
Version=1.0
Terminal=false
Type=Application
Name=Food Wizard
Exec=mycroft-gui-app --hideTextInput --skill=food-wizard.aiix.home
Icon=foodwizz
Categories=VoiceApp
StartupNotify=false
